################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CharacterLib/bin
/CharacterLib/obj


/TestCharacterController/bin
/TestCharacterController/obj
